  ul.component-tree-view {
      counter-reset: li;
      padding-left: 2.5rem;
      padding: 0.25rem 0 0.25rem 2.75rem;
  }

  ul.component-tree-view small {
      display: block;
      opacity: 0.75;
  }

  ul.component-tree-view ul,
  ul.component-tree-view ul {
      padding: 0.75rem 0 0 1.5rem;
  }

  ul.component-tree-view li {
      margin-bottom: 0.375rem;
  }

  ul.component-tree-view>li {
      position: relative;
      counter-increment: li;
      padding-top: 0.2rem;
      list-style: none;
  }

  ul.component-tree-view>li::before,
  ul.component-tree-view>li::after {
      position: absolute;
      display: flex;
      opacity: .9;
  }

  ul.component-tree-view>li::before {
      color: var(--custom-circle-color);
      content: '-';
      left: -2rem;
      top: 0;
      height: calc(1.5rem - 1px);
      width: calc(1.5rem - 1px);
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 1px solid currentcolor
  }

  ul.component-tree-view>li::after {
      color: var(--custom-line-color);
      content: "";
      left: -1.25rem;
      top: calc(1.7rem + 1px);
      height: calc(100% - 1.6rem);
      border-left: 1px solid currentcolor;
  }

  ul.component-tree-view>li::before,
  ul.component-tree-view>li::after,
  ul.component-tree-view>li:hover {
      transition: all .5s ease;
      font-weight: bold;
      text-shadow: var(--custom-circle-color) 1px 0 15px;
  }